In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data1.csv")

In [3]:
df.head()

       Days  Temperature  Windspeed  Event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017         35.0        7.0  Sunny
2  1/3/2017         28.0        2.0   Snow
3  1/4/2017         24.0        7.0   Snow
4  1/5/2017         32.0        4.0   Rain

In [4]:
df.tail()

       Days  Temperature  Windspeed  Event
3  1/4/2017         24.0        7.0   Snow
4  1/5/2017         32.0        4.0   Rain
5  1/6/2017         32.0        2.0  Sunny
6       NaN          NaN        NaN    NaN
7       NaN          NaN        NaN    NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Days         6 non-null      object
 1   Temperature  6 non-null      float64
 2   Windspeed    6 non-null      float64
 3   Event        6 non-null      object
dtypes: float64(2), object(2)
memory usage: 256.0+ bytes

In [6]:
df[2:5]

       Days  Temperature  Windspeed Event
2  1/3/2017         28.0        2.0  Snow
3  1/4/2017         24.0        7.0  Snow
4  1/5/2017         32.0        4.0  Rain

In [7]:
df

       Days  Temperature  Windspeed  Event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017         35.0        7.0  Sunny
2  1/3/2017         28.0        2.0   Snow
3  1/4/2017         24.0        7.0   Snow
4  1/5/2017         32.0        4.0   Rain
5  1/6/2017         32.0        2.0  Sunny
6       NaN          NaN        NaN    NaN
7       NaN          NaN        NaN    NaN

In [8]:
df[:]

       Days  Temperature  Windspeed  Event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017         35.0        7.0  Sunny
2  1/3/2017         28.0        2.0   Snow
3  1/4/2017         24.0        7.0   Snow
4  1/5/2017         32.0        4.0   Rain
5  1/6/2017         32.0        2.0  Sunny
6       NaN          NaN        NaN    NaN
7       NaN          NaN        NaN    NaN

In [9]:
df[:-1]

       Days  Temperature  Windspeed  Event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017         35.0        7.0  Sunny
2  1/3/2017         28.0        2.0   Snow
3  1/4/2017         24.0        7.0   Snow
4  1/5/2017         32.0        4.0   Rain
5  1/6/2017         32.0        2.0  Sunny
6       NaN          NaN        NaN    NaN

In [10]:
df.columns

Index(['Days', 'Temperature', 'Windspeed', 'Event'], dtype='object')

In [13]:
rows,columns = df.shape

In [14]:
rows

8

In [15]:
columns

4

In [17]:
df.shape

(8, 4)

In [20]:
df.Event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
6      NaN
7      NaN
Name: Event, dtype: object

In [23]:
df[['Event']]

   Event
0   Rain
1  Sunny
2   Snow
3   Snow
4   Rain
5  Sunny
6    NaN
7    NaN

In [25]:
type(df['Days'])

pandas.core.series.Series

In [27]:
df[['Days','Event']]

       Days  Event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   Snow
3  1/4/2017   Snow
4  1/5/2017   Rain
5  1/6/2017  Sunny
6       NaN    NaN
7       NaN    NaN

In [29]:
df[['Temperature']].max()

Temperature    35.0
dtype: float64

In [30]:
df[['Temperature']].min()

Temperature    24.0
dtype: float64

In [31]:
df[['Temperature']].describe()

       Temperature
count     6.000000
mean     30.500000
std       3.885872
min      24.000000
25%      29.000000
50%      32.000000
75%      32.000000
max      35.000000

In [32]:
df[['Temperature']].std()

Temperature    3.885872
dtype: float64

In [44]:
df[df.Temperature>25]

       Days  Temperature  Windspeed  Event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017         35.0        7.0  Sunny
2  1/3/2017         28.0        2.0   Snow
4  1/5/2017         32.0        4.0   Rain
5  1/6/2017         32.0        2.0  Sunny

In [51]:
df['Temperature'].max()

35.0

In [54]:
df[df.Temperature>30]

       Days  Temperature  Windspeed  Event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017         35.0        7.0  Sunny
4  1/5/2017         32.0        4.0   Rain
5  1/6/2017         32.0        2.0  Sunny

In [55]:
df[df.Temperature == df.Temperature.max()]

       Days  Temperature  Windspeed  Event
1  1/2/2017         35.0        7.0  Sunny

In [56]:
df['Days'][df.Temperature == df.Temperature.max()]

1    1/2/2017
Name: Days, dtype: object

In [60]:
df.set_index(['Days'])

          Temperature  Windspeed  Event
Days
1/1/2017         32.0        6.0   Rain
1/2/2017         35.0        7.0  Sunny
1/3/2017         28.0        2.0   Snow
1/4/2017         24.0        7.0   Snow
1/5/2017         32.0        4.0   Rain
1/6/2017         32.0        2.0  Sunny
NaN               NaN        NaN    NaN
NaN               NaN        NaN    NaN

In [62]:
df['Days'][df.Temperature == df['Temperature'].max()]

1    1/2/2017
Name: Days, dtype: object

In [64]:
df['Days'][df.Windspeed == df['Windspeed'].max()]

1    1/2/2017
3    1/4/2017
Name: Days, dtype: object

In [65]:
df.index

RangeIndex(start=0, stop=8, step=1)

In [66]:
df.set_index(['Days'],inplace=True)

In [67]:
df.loc['1/3/2017']

Temperature      28
Windspeed         2
Event          Snow
Name: 1/3/2017, dtype: object